datagroup,
.datagroup {
  border: 1px solid transparent;
  border-radius: $default-border-radius;
  display: block;
  padding: 0.5em 0.5em 1em 0.5em;
  position: relative;

  &::before {
    content: attr(data-group-name);
    font-weight: 700;
    margin: 0 0 0.2em 0.2em;
    display: inline-block;
    letter-spacing: 0.1em;
  }

  &::after {
    background: rgba(255, 255, 255, 0);
    content: '';
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

  }

  &.js-droppable {
    &::after {
      display: block;
    }
  }

  &.js-dragover {
    background: $color-highlight-brighter;
    border: 1px dashed $color-highlight-darker;
  }

}