.board {
  display: flex;
  font-size: 0.8rem;
  min-height: 30em;
  margin-bottom: $footer-height;
  max-height: 100%;
  max-width: 100%;
  overflow-x: auto;
  padding: 1em;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}