$default-border-radius: 3px;
$default-text-color: #000;

$color-darkest: #1E1E1F;
$color-darker: #424143;
$color-medium: #67666A;
$color-brighter: #DBDBDB;
$color-brightest: #f7f5fc;

$color-header-background: $color-darkest;
$color-footer-background: $color-darkest;

$color-highlight-darker: rgba(197, 165, 80, 0.47);
$color-highlight-brighter: rgba(254, 213, 103, 0.47);

$z-stack: (
        header : 1000,
        footer: 9000,
        datagroup-overlay : 8000,
        main : 500
);

$header-height: 2.4em;
$footer-height: 2.4em;
