@import 'settings';
@import 'util/clearfix';
@import 'modules/body';
@import 'modules/board';
@import 'modules/footer';
@import 'modules/form';
@import 'modules/header';
@import 'modules/html';
@import 'modules/main';
@import 'components/button';
@import 'components/databox';
@import 'components/datalist';
@import 'components/datagroup';
@import 'components/dataset';
@import 'components/filterbar';
@import 'components/loader';
@import 'components/linkbutton';
@import 'components/togglebutton';
@import 'components/userprofile';
@import 'plugins/ngdialog/ngDialog';
@import 'plugins/ngdialog/ngDialog-theme-default';
@import 'plugins/ngdialog/ngDialog-theme-plain';
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
  background-repeat: no-repeat;
  box-sizing: border-box;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
}


